* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    text-align: center;
    flex-grow: 1;
}
 header a {
    text-decoration: none;
    color: white;
}

.login-btn {
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.login-btn:hover {
    background-color: #DCDCDC;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Оптимизация под мобильные устройства */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    .login-btn {
        margin-top: 10px;
    }
}

 .company-info {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    color: #555;
}

.company-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #007bff;
}