{% extends 'main.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/function_add.css' %}?v=1988">
{% endblock %}

{% block title %}Добавление функции{% endblock %}

{% block content %}
    <form class="form__fields" method="post">
        {% csrf_token %}

        <label for="code">Введите код функции </label>
        {{ form.code }}

        <label for="version">Введите версию функции</label>
        {{ form.version }}

        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="form__error">{{ error|escape }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="form__error">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}

        <button type="submit">Добавить функцию</button>
    </form>
{% endblock %}


