{% extends 'main.html' %}
{% load static %}

{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/add_settings.css' %}?v=1998">
{% endblock %}

{% block title %}Добавление общих свойств{% endblock %}

{% block content %}
    <form class="form__fields" method="post">
        {% csrf_token %}

        <label for="code">Выберите свойство</label>
        {{ form.setting }}

        <label for="name">Введите значение</label>
        {{ form.value }}

        <label for="active_from">Начало действия</label>
        {{ form.active_from }}

        <label for="active_to">Конец действия (необязательно)</label>
        {{ form.active_to }}


        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="form__error">{{ error|escape }}</p>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <p class="form__error">{{ error|escape }}</p>
            {% endfor %}
        {% endif %}

        <button type="submit">Добавить</button>
    </form>
{% endblock %}


